[2019-02-13 11:33] Trancever opened #2 "Add eslint + prettier"

[2019-02-13 11:33] Trancever opened #3 "Configure flow + add types"

[2019-02-13 11:34] Trancever opened #4 "Add typescript types"
I think we can follow react-native-paper approach, package will use flow and it will additionally export typescript types.

[2019-02-13 11:35] Trancever opened #5 "Add CI configuration."
We should run eslint, flow, typescript and unit tests on CI. Later we can think about implementing detox tests.

[2019-02-13 14:54] Trancever opened #6 "Use image-editor in react-native."
As a next step we should replace existing ImageEditor package in react-native with this one + add warning about deprecation.

[2019-02-13 14:59] cpojer commented on #6
Just to clarify: we aren't looking to make image-editor a dependency of React Native. Adding the deprecation warning is good enough. People can link this module into their React Native app if they need it :)

[2019-02-13 15:04] Trancever opened #7 "Move documentation from react-native to readme."

[2019-02-14 17:40] #6 closed

[2019-02-14 21:52] Trancever commented on #3
Fixed in https://github.com/react-native-community/react-native-image-editor/pull/9

[2019-02-14 21:52] #3 closed

[2019-02-14 21:52] Trancever commented on #2
Fixed in https://github.com/react-native-community/react-native-image-editor/pull/8

[2019-02-14 21:52] #2 closed

[2019-02-15 09:30] #5 closed

[2019-02-18 09:10] #7 closed

[2019-03-10 22:11] jaysbytes commented on #4
Hi, I've created a PR with typings -> #13

[2019-03-11 07:54] Trancever commented on #4
Merged :)

[2019-03-11 07:54] #4 closed

[2019-03-12 08:47] guhungry opened #14 "[iOS] Don't use ImageStore"
Since ImageStore is deprecated should migrate out of it. And also it will have consistent behavior between ios and android.

# Potential Implementation #
https://guides.github.com/features/mastering-markdown/
https://github.com/react-native-community/react-native-camera/blob/master/ios/RN/RNFileSystem.m

https://github.com/react-native-community/react-native-camera/blob/d6a7c625d67e05a783119b7ebcf

[2019-03-12 14:06] Trancever commented on #14
Hi @guhungry Thanks for creating issue and yes, we need to migrate from using ImageStoreManager.

@cpojer Do you have any recommendations, which package should we use?

[2019-03-22 09:25] guhungry opened #21 "[Android] resizeMode is always cover"
`resizeMode` is not work on android should we mention it as iOS only in the README

https://github.com/react-native-community/react-native-image-editor/blob/787dbb4c321f1c3324f02b5b5129997100b344b0/android/src/main/java/com/reactnativecommunity/imageeditor/ImageEditorModule.java#L183-L198

[2019-05-03 07:22] renishdeveloper opened #22 "Library can't be installed"
I created the project using react-native init.
I can't be able to install the library.

**react-native info**

    System:
      OS: Linux 4.15 Ubuntu 18.04.2 LTS
      CPU: (6) x64 AMD FX(tm)-6300 Six-Core Processor
      Memory: 794.44 MB / 3.59 GB
      Shell: 4.4.19 -
    Binaries:
      Node: 8.16.0
      npm: 6.4.1
    npmPackages:
      react: 16.6.3 => 16.6.3
      react-native: 0.58.3 =>

[2019-05-03 07:48] renishdeveloper opened #23 "Getting error : "undefined is not a function (evaluating 'Object.keys(styles)[typof Symbol === "function"? Symbol.iterator : @@iterator"]()')""
I am using the **cropImage** from  [https://github.com/react-native-community/react-native-image-editor/issues/new](url).
Description :
Project created using react-native init

react-native info

  React Native Environment Info:
    System:
      OS: Linux 4.15 Ubuntu 18.04.2 LTS (Bionic Beaver)
      CPU: (6) x64 AMD FX(tm)-6300 Six-Core Processor
      Memory: 405.62 MB / 3.59 GB
      Shell: 4.

[2019-05-10 21:28] giomv commented on #22
`npm install @react-native-community/image-editor --save`

Not working, generates the same error that @renishdeveloper got.

[2019-05-12 11:17] #21 closed

[2019-05-14 11:09] wojteg1337 commented on #22
Will fix it

[2019-05-14 11:31] Trancever commented on #22
Should be fixed in v1.3.0

[2019-05-14 11:31] #22 closed

[2019-05-19 21:16] bartolkaruza opened #26 "Cameraroll is moved to RNC repo"
https://github.com/react-native-community/react-native-image-editor/blob/87fc5b99947b6e139b93aea78a16a568694ceb93/example/src/App.js#L13

This example will soon not work anymore, the import should be changed to the new rnc cameraroll package:
https://github.com/react-native-community/react-native-cameraroll\

or rewritten to work without the cameraroll dependency.

[2019-05-20 12:15] Trancever commented on #26
#24 Is going to fix this.

[2019-05-20 12:16] Trancever commented on #23
@renishdeveloper Do you still have an issue? Can you provide repo that reproduces it?

[2019-05-21 17:53] kevinwu127 commented on #14
Any updates on this? ImageEditor is still saving to a location where RNFS cannot read. This should be solved before ImageStore is not supported entirely.

[2019-05-22 03:48] guhungry commented on #14
@Trancever There is no need for 3rd party package. This can easily implemented in native code as in Potential Implementation.

[2019-05-22 04:09] guhungry commented on #23
@renishdeveloper My hunch is that babel transform doesn't apply. I don't think it's specific to this library.

Try
1. Run `react-native start` before `react-native run-android`
2. Or, upgrade React Native to 0.59.8. Which should be fixed by newer https://github.com/react-native-community/cli and https://github.com/react-native-community/jsc-android-buildscripts

[2019-05-30 16:07] #26 closed

[2019-05-30 16:43] jaysbytes opened #27 "Output size of ImageEditor.cropImage is incorrect"
This issue is moved from react-native repo because the image editor was extracted. See original issue [#22941].

# Issue Content
## Environment
React Native Environment Info:
System:
OS: Windows 10
CPU: (4) x64 Intel(R) Core(TM) i5-5200U CPU @ 2.20GHz
Memory: 1.68 GB / 7.91 GB
Binaries:
Yarn: 1.9.4 - ~\AppData\Roaming\npm\yarn.CMD
npm: 6.5.0 - ~\AppData\Roaming\npm\npm.CMD
IDEs:
Android Studio: Ve

[2019-06-04 08:29] Trancever commented on #14
@guhungry @kevinwu127 Check v1.4.0 and let me know what you think!

[2019-06-04 08:30] Trancever commented on #23
@renishdeveloper This is probably not related to this library. I am closing this. Please reopen if you still have some questions.

[2019-06-04 08:30] #23 closed

[2019-06-04 12:59] guhungry commented on #14
I'll test it tonight and report back. But i think this this is breaking change for ios?

[2019-06-04 14:28] Trancever commented on #14
@guhungry I haven't thought about it as breaking change, but It makes sense, since there is no need to clear the image right now.
I'll remove that v1.4 release from both npm and github tomorrow and I'll do new major release then.

[2019-06-04 15:59] guhungry commented on #14
It does work as expect. Major version make sense to me.

@Trancever What do you think about using promise instead of callback?

[2019-06-04 18:54] Trancever commented on #14
@guhungry I am ok with Promises, especially right now when we are releasing new major version

[2019-06-05 16:24] kevinwu127 commented on #14
@Trancever Works great! Looking forward to the Promise implementation :)

[2019-06-07 07:15] benzman81 commented on #14
Since you reverted the version and the ImageStore is still used, shouldn't you reopen this issue?

[2019-06-07 09:09] Trancever commented on #14
@benzman81 Once #29 lands on master, I'll release new major version, but yeah, for now this should be reopened

[2019-06-10 03:15] guhungry commented on #14
@benzman81 @kevinwu127 Can you help test with #29 which also includes this PR and Promise implementation?

[2019-06-10 22:47] kevinwu127 commented on #14
@guhungry the PR looks good! Thank you for this :)

[2019-06-12 07:47] Trancever commented on #14
I've just released version `2.0.0-alpha.0` that contains new way of storing images on iOS + Promise api. Could you guys test it and let me know if it works well for you?

[2019-06-12 09:31] guhungry commented on #14
Works for me.

<details><summary>Screenshots</summary>
Android:
<img src="https://user-images.githubusercontent.com/4032276/59339439-62f8df00-8d2e-11e9-902f-e829346373f7.png" width="200" />
iOS:
<img src="https://user-images.githubusercontent.com/4032276/59339447-67bd9300-8d2e-11e9-8f55-bcd0211e78c0.png" width="200" />
</details>

[2019-06-23 00:41] littleV opened #31 "Examples of manual link the library"
Hi,

I tried to use react-native link to link the library. Since I'm integrating react native to an existing app, I'm getting errors. Can you show in the docs that about manual integration steps for iOS and Android?

Thanks.

[2019-06-24 14:55] benzman81 commented on #14
Sorry for the delay. v2.0.0-alpha.0 works like a charm.

[2019-06-25 09:12] Trancever commented on #14
@benzman81 @guhungry Awesome, I'll release a non alpha version this week.

[2019-06-25 09:15] Trancever commented on #31
@littleV For now, refer to official React-Native [linking guide](https://facebook.github.io/react-native/docs/linking-libraries-ios). I'll try to add a guide this week.

[2019-06-27 10:03] Trancever commented on #14
v2.0.0 is released.

[2019-06-27 10:03] #14 closed

[2019-07-08 23:16] adamhari opened #32 "'RCTImageUtils.h' file not found"
# Bug

Trying to build my project in Xcode after having linked this library. Getting a "'RCTImageUtils.h' file not found" build error.

## Environment info

React native info output:

[code]

Library version: 2.0.0

## Steps To Reproduce

1. install this lib
2. run `react-native link @react-native-community/image-editor`
3. open Xcode, navigate to Product --> Build

Describe what you expected to h

[2019-07-17 07:20] kevincantstop commented on #32
I think ImageEditor now is a built-in component. You can simply import ImageEditor from react e.g

`import { ImageEditor } from 'react-native'`

[2019-07-17 13:06] Trancever commented on #32
@kevincantstop It is, but it's going to be removed soon. This library should be used as a replacement.

[2019-07-17 13:06] Trancever commented on #32
@adamhari Do you still have an issue?

[2019-07-17 17:32] tsan opened #33 "ReactNative 0.60.3"
Hello,

I'm currently using RN0.60.3.
 But with the autolinking, I found that the podspec was targeting a wrong library.
'React/RTCImage' needs to be change by 'React-RTCImage'.

Thanks

[2019-07-18 02:12] kevincantstop commented on #32
@Trancever I yarn add this repo and the issue still exists

[2019-07-18 05:14] adamhari commented on #32
yes

[2019-07-18 05:48] kevincantstop commented on #32
Also there's another problem on iOS, if I call ImageEditor.cropImage, it says:

`no such file or directory, open 'rct-image-store//0'` so it causes cropping process failure. I have already add perms to plist.

`
<key>NSPhotoLibraryUsageDescription</key>
<string>Photo Library Usage Is Required</string>
<key>NSPhotoLibraryAddUsageDescription</key>
<string>Photo Library Addition Is Required</string>

[2019-07-18 12:38] Trancever commented on #33
@tsan It's fixed in v2.0.1

[2019-07-18 12:38] #33 closed

[2019-07-18 12:55] Trancever commented on #32
@kevincantstop I am pretty sure you're using v1 of image-editor. Can you try v2.0.1 ? We no longer use image-store under the hood.

[2019-07-18 12:56] tsan commented on #33
Thanks, awesome mate!

[2019-07-22 02:16] thekevinbrown opened #34 "Unable to find a specification for `React-RCTImage` depended upon by `react-native-image-editor`"
# Bug

[code]

## Environment info

React Native 0.59.10

React native info output:
[code]

Library version: 2.0.1

## Steps To Reproduce

1. Upgrade from version 2.0.0 to 2.0.1 with React Native v59
2. `pod install`

Describe what you expected to happen:

1. Successful `pod install`

## Reproducible sample code

This is a podspec problem, which looks like it was introduced in 885669d8af54f8570a5f

[2019-07-22 02:18] thekevinbrown commented on #34
We've reverted to v2.0.0 which is working.

[2019-07-22 09:33] Trancever commented on #34
@thekevinbrown v2.0.0 doesn't work on 0.60.x React-Native.

[2019-07-22 11:40] thekevinbrown commented on #34
We're using `0.59.10`.

[2019-07-23 06:15] Trancever commented on #34
@thekevinbrown Good, use v2.0.0 and it's gonna work fine for you

[2019-07-23 06:16] #34 closed

[2019-07-24 13:47] acro5piano opened #35 "`ExifInterface only supports saving attributes on JPEG formats` error when running with react-native-camera"
Hi, thank you for the great library. I am getting the following error when use with react-native-camera.
Am I missing something? Thank you in advance.

# Bug

![image](https://user-images.githubusercontent.com/10719495/61798174-cca6f580-ae63-11e9-99f3-33b5285db454.png)

[code]

## Environment info

React native info output:

[code]

Library version: ^2.0.1

## Steps To Reproduce

1. Install react-

[2019-07-24 13:59] acro5piano commented on #35
Sorry my investigation was not enough.
Catch and show the code then it says `ExifInterface only supports saving attributes on JPEG formats`.

[code]

![image](https://user-images.githubusercontent.com/10719495/61799692-856e3400-ae66-11e9-9edd-51c16ba8fd10.png)

[2019-07-25 07:33] Trancever commented on #35
@acro5piano What is `data` returned by `takePictureAsync` function?

[2019-07-25 07:44] acro5piano commented on #35
Thanks for your reply.
I'm reinstalling it, so wait a moment please.

[2019-07-25 07:56] acro5piano commented on #35
`data` is

[code]

[2019-07-25 08:14] acro5piano commented on #35
If I commented out the following line, it seems to work correctly.

https://github.com/react-native-community/react-native-image-editor/blob/master/android/src/main/java/com/reactnativecommunity/imageeditor/ImageEditorModule.java#L282

I would like to create a PR to disable `copyExif` when given params is set to do so.
Is it okay? I know that is not the ideal solution but should be the current wor

[2019-07-25 08:51] Trancever commented on #35
@acro5piano Can you use your workaround for now? I need to dig deeper to apply the correct fix.

[2019-07-25 09:00] acro5piano commented on #35
Thank you. I will use patch-package for now.

[2019-07-25 13:16] acro5piano commented on #32
For me the following patch works.

[code]

[2019-07-29 09:56] Trancever commented on #32
@adamhari Can you provide repo that reproduces issue? I tried same version of React-Native + manual link and it worked fine.

[2019-08-08 08:55] RadiRS commented on #32
has any one fix this issue ?

[2019-08-12 07:18] Trancever commented on #32
@RadiRS If you still experience the issue can you write what version of react-native, image-editor do you use and how do you link them?

[2019-08-12 22:24] adamhari commented on #32
@Trancever react-native@0.59.10, react-native-image-editor@2.0.1. Can't provide a reproducible repo at the moment, will try to find time this weekend

[2019-08-21 08:14] tuledev commented on #32
I'm getting the same error.

[2019-09-05 07:48] asrytis commented on #32
Same here. The lib is linked manually, ie. not using Cocoa Pods. react-native@0.59.9, react-native-image-editor@2.0.1

[2019-09-06 11:23] #32 closed

[2019-09-06 11:27] Trancever commented on #32
The fix is included into v2.0.2. Let me know if it works for you!

[2019-10-03 11:58] TimMun opened #37 "Support cropping transparent images"
# Feature Request

Support cropping transparent images. Currently, if you crop a partially transparent image, all the transparent pixels become white.

## Why it is needed

I'm upgrading my app from RN 0.59 to 0.61. The old ImageEditor bundled with RN 0.59 supported cropping transparent images.

## Possible implementation

Use UIImagePNGRepresentation instead of UIImageJPEGRepresentation? Not sure

[2019-10-07 18:53] Wayne-II opened #38 "TypeError: null is not an object (evaluating 'RNCImageEditor.cropImage')]"
# Question
I'm running into an issue that I cannot solve.  I can't find any examples of using a local file - advanced usage example uses http - but I don't know that that's the issue.  The local file URI I'm getting is from React Native Expo Camera.

One thing I noticed is the URI seems to be double URI encoded.  Running decodeURI doesn't solve this.  So I've had to hard code the expo cache.  The

[2019-10-10 09:35] EricLewe commented on #38
I solved this error. My suggestion might not be related to your case since I am on RN 0.59.5. (NPM version of _@react-native-community/image-editor_ is 2.0.0)

In my case I forgot to link the library.
react-native link @react-native-community/image-editor

[2019-10-10 13:48] Wayne-II commented on #38
I failed to mention that.  I had linked the library.  Thinking I had to link RNCImageEditor and not @react-native-community/image-editor, I unlinked the library.  Finding that I had properly linked the library the first time I had linked the library once again, to no avail.

[2019-10-10 13:55] Wayne-II commented on #38
Having an epiphany, I Googled around and found this:

The most limiting thing about managed Expo projects is that you can't add in your own native modules without detaching and using ExpoKit. Continue reading the next question for a full explanation.
https://docs.expo.io/versions/latest/introduction/faq/#what-is-the-difference-between-expo-and

[2019-10-10 13:56] #38 closed

[2019-10-10 14:04] Wayne-II commented on #38
Prematurely closed this.  Further reading the docs made me think maybe Expo had a ImageEditor/cropping module I could use without ejecting.

https://docs.expo.io/versions/latest/sdk/imagemanipulator/

[2019-10-21 10:45] #37 closed

[2019-10-21 13:03] Psiiirus opened #40 "merge react-native-image-resizer project into react-native-image-editor?"
Hi,
I was wondering if it would ne helpful for the community to "merge"
the https://github.com/bamlab/react-native-image-resizer project
into this repository?

I bet it will be quite handy for the maintainer of both repos, right?

[2019-10-28 12:53] takameyer opened #43 "ios cropped image is saved with .jpg file extension, but as PNG"
The original react native image editor saved the cropped image as a JPEG.  This version saves it as PNG, but with .jpg file extension.

[2019-10-28 14:14] #27 closed

[2019-11-05 04:24] mingxin-yang opened #45 "Output size of ImageEditor.cropImage become smaller"
# Bug
Output size of ImageEditor.cropImage become smaller

## Environment info

React native info output:

[code]

Library version: 2.1.0

## Steps To Reproduce

my code:
[code]

Describe what you expected to happen:

#### when the width and height is origin of the image, output size is 2302015

## Reproducible sample code

[2019-11-07 07:08] takameyer commented on #35
In the iOS lib, the cropped picture is being saved as a PNG instead of a JPEG.  I have created a pull request for this.  It may possibly solve this issue. #44

[2019-11-11 23:53] augustosamame opened #46 "Cropped Image filesize is 10 times larger than original image - iOS"
# Bug

I am using this library to crop a local image.
Image size in Iphone is 1.7MB in size.
After cropping the image to a smaller size, the resulting image is now 16.8MB in size.
I have confirmed this by uploading both images to my PC and getting image info, which I attach.

## Environment info

React native info output:

React Native Environment Info:
    System:
      OS: macOS 10.14.6
      CP

[2019-11-12 00:05] augustosamame commented on #46
![image compare](https://user-images.githubusercontent.com/16038063/68630733-38b27580-04b6-11ea-9ecf-31df3a71cc4a.png)

[2019-11-14 00:45] augustosamame commented on #46
Turns out generate file is not a jpg at all. It's a PNG with a jpg extension. So the solution would be to use something like react-native-image-resizer to compress it back to jpg?

[2019-11-14 08:22] Trancever commented on #46
@augustosamame For now, you can downgrade version to 2.0.2 which will work fine for you. This issue will be addressed in #44

[2019-11-16 15:39] jayu opened #47 "Add web support"
# Feature Request

Add web support

## Why it is needed

Make module cross-platform

## Possible implementation

Hey, I made an investigation on how to implement `.cropImage` on the web.
In general, a solution could use `canvas` with `2d` context and use `drawImage` (https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/drawImage) method to prepare cropped Image, then I could b

[2019-11-19 06:56] takameyer commented on #43
Fixed in #44

[2019-11-19 06:56] #43 closed

[2019-11-22 08:24] olegmilan commented on #46
@Trancever is this issue resolved?
I see #44 is merged and released in 2.2.0 version

[2019-11-22 09:15] Trancever commented on #46
@olegmilan Yes, jpg images will still be jpg after cropping. Should be resolved in v2.2.0. Let us know if it doesn't work for you.

[2019-11-22 09:15] #46 closed

[2019-11-22 10:54] johanschram commented on #35
Any updates on the topic ?
I'm facing the same issue, kind in a funny way thought: on Android, depending on the area in a picture I crop, I get the problem or not (working fine on IOS for the same jpg image).  I didn't manage to find the patern that define if it will failed or not thought (I use both offset and width/height) while cropping. I'm not sure my comments helps a lot, but well...
Below a

[2019-12-03 13:45] sperko00 opened #52 "Only IOS: ImageEditor.cropImage method writeToFileError Code=101 "(null)""
# Bug

Bug is only happening on ios platform.
When calling cropImage method it gives this error (not always):
![image](https://user-images.githubusercontent.com/26031632/70051542-8f9cfd80-15d1-11ea-9653-ebcaf860e53c.png)

## Environment info

React native info output:

System:
    OS: macOS 10.15.1
    CPU: (4) x64 Intel(R) Core(TM) i5-7360U CPU @ 2.30GHz
    Memory: 18.79 MB / 8.00 GB
    Shell:

[2019-12-11 15:54] MebDevelop commented on #45
Same here in iOS, did you find solution?

[2019-12-11 16:00] MebDevelop commented on #35
const options = {quality: 0.5, base64: true, fixOrientation: true};
const data = await this.camera.takePictureAsync(options);

fiexOrientation: true solved my problem in rotating image.

[2019-12-14 08:26] Rezaramdhanisti opened #53 "Support base64 Image output not only uri"
# Feature Request

  Support output base64. Currently, when cropping process is successful it return uri, some
  people maybe need base64.

## Why it is needed

  My backend only support base64 for upload images.

## Possible implementation

  Implement on native modules and create bridging to javascript.

### Code sample

  ImageEditor.cropImage(image, cropData).then(data => {
    console.log("Cr

[2019-12-16 12:01] ghost opened #54 "Wrong crop of image"
# Bug
Wrong crop output.

## Environment info

React native info output:

[code]

Library version:
![image](https://user-images.githubusercontent.com/19660005/70905646-5dfb4c00-203f-11ea-8d7f-bb6e185b09bb.png)

## Steps To Reproduce

I have image with sizes:
Original Image
![image](https://user-images.githubusercontent.com/19660005/70904455-5edeae80-203c-11ea-9926-6fd82078b24b.png)
Original sizes:

[2020-01-17 18:25] weymanator commented on #52
@sperko00  This error appears when you set values for width or height less than or equals to zero

[2020-01-18 00:25] weymanator commented on #54
@YanisKondakov. That issue is caused by  the device scale factor, for example you run your app in an iPhone X that has the scale factor equals to 3, if you have and image with the dimensions w = 200, h = 200, the device represents those dimensions as w = 600, h = 600, [here is a link](https://developer.apple.com/library/archive/documentation/DeviceInformation/Reference/iOSDeviceCompatibility/Displ

[2020-01-30 19:59] dkoo opened #56 "Yellow box: "Warning: Calling bridge.imageLoader is deprecated and will not work in newer versions of RN. Please update to themoduleForClass API or turboModuleLookupDelegate API.""
# Bug

This Yellow Box warning appears whenever using the `cropImage` method of this library. Maybe due to the use of `_bridge.imageLoader` [here](https://github.com/react-native-community/react-native-image-editor/blob/master/ios/RNCImageEditor.m#L56).

![Simulator Screen Shot - iPhone 11 - 2020-01-30 at 12 53 06](https://user-images.githubusercontent.com/2230142/73485380-3ac2fc80-4360-11ea-9dd1-

[2020-02-08 14:20] MamyChow commented on #56
Same issue

[2020-02-09 11:49] benzman81 commented on #56
Same here.

[2020-02-13 15:27] sokoldjala commented on #56
The solution is to replace `_bridge.imageLoader` with `[_bridge moduleForName:@"ImageLoader" lazilyLoadIfNecessary:YES]` in [here](https://github.com/react-native-community/react-native-image-editor/blob/master/ios/RNCImageEditor.m#L56),
It should be fixed in the next release.

[2020-02-14 04:25] ljh257110 opened #60 "Version inconsistency"
peerDependencies："react-native": ">=0.57 <0.60"，but local projects: "react-native": "0.61.5"

[2020-03-04 14:59] #52 closed

[2020-03-11 10:06] Psiiirus commented on #60
would be awesome if a maintainer could fix this, thanks

[2020-03-12 02:54] dungnguyentri3110 opened #61 "Cannot read property 'cropImage' of undefined"
# Question
Hello, i just install ImageEditor and use it to crop my image. But when i do this action, have warning like this "Cannot read property 'cropImage' of undefined".
This is my code
const cropData = {
        offset:{x: 0, y: 0},
        size: {width: image.width, height: image.height},
        displaySize: {width: image.width, height: image.height},
        resizeMode: 'contain'
      }

[2020-03-12 03:02] #61 closed

[2020-03-13 05:55] keyurgarsondiya opened #62 "Call to ImageEditor not working"
# Bug

## Environment info:
Android

## My Code:

[code]

#### Library version: Latest Version (npm install @react-native-community/image-editor --save)

However in the image editor call to crop image the inner console log is not printing only so actually not going inside only. I have checked the image uri is being received correctly.
Please help me to solve this.

[2020-03-13 10:50] linhmimoza commented on #45
try displaySize: {width * 4 ,height * 4}
It worked for me

[2020-03-14 07:33] tanu2111 commented on #34
[!] Unable to find a specification for `React-RCTImage` depended upon by `react-native-image-editor`

You have either:
 * out-of-date source repos which you can update with `pod repo update` or with `pod install --repo-update`.
 * mistyped the name or version.
 * not added the source repo that hosts the Podspec to your Podfile

[2020-03-19 10:33] timvanwolfswinkel commented on #56
Experiencing the same issue. Using React Native `0.61.5`, in my case it's not returning the cropped image. Is there a way to go around this for now?

[2020-03-19 11:57] Trancever commented on #56
@sokoldjala Would you like to submit a PR fixing this issue?

[2020-04-02 09:01] Psiiirus commented on #56
@dkoo this ticket is completed, isn't it?

[2020-04-09 14:26] Vluf commented on #53
You can always read out the file in base64 format using e.g. [RNFS](https://github.com/itinance/react-native-fs)

[2020-04-16 14:17] MathieuUrstein opened #65 "What Mime is supported/returned"
# Question
The documentation never refers to Mimes.
- Can all `image/*` be passed as the `uri` parameter?
- Is the returned uri in the same Mime format or is it converted?
- Is this the same on both platforms?

In the usage example documentation, there is a mismatch between the log `uri` & the param `url`:
[code]
The promise probably returns an uri right?
[code]

In the documentation you mention:

[2020-04-23 22:38] krewllobster opened #66 "Pass full image source object rather than URI"
# Feature Request

In the React-Native Image component, we can provide a source object that includes headers, i.e.

[code]

## Why it is needed

In order to render images that are hosted such that authorization is needed. Currently the Image Editor only accepts the imageUri and cannot pass headers through.

## Possible implementation

Update underlying native code to check for whether imageUri is

[2020-04-23 22:40] krewllobster commented on #66
Could also add an additional optional prop for headers and then just use that prop if it exists when opening a remote connection to an image asset.

[2020-04-26 04:33] s123121 commented on #45
I have tried various combination, one thing stood out to me is the cropped image quality is always degraded compared to the input ( which you can see clearly with your eyes)

[2020-05-15 09:32] Temirtator commented on #38
this bug is not fixed, yet

[2020-05-28 13:09] mabecth commented on #38
Any idea of how to fix this?

[2020-06-03 14:08] codiri opened #68 "[Android] bug cropImage with base64 URI"
## Summary

👋 Hi!

When i am using base64 uri with cropImage function it works perfectly with IOS but in Android i have this issue:

[code]

## Environment info
 - "react-native": "0.62.2",
- "@react-native-community/image-editor": "^2.3.0",

## Reproduce the issue

[code]

[2020-06-07 09:40] Anujmoglix opened #69 "Requested column: 0, # of columns: 0"
Getting this with **'react-native-image-picker';**

[2020-06-12 15:24] AdeilsonESilva commented on #69
Same error

[2020-06-14 16:37] codifius commented on #68
Is there any update about this issue ?!!

[2020-06-18 09:20] ola-wale commented on #38
running `npx pod-install` fixed this for me.

[2020-07-07 02:53] gustavoschmidt opened #70 "ReactNative 0.62"
# Question

`package.json` lists react-native peer dependency with versions `">=0.57 <0.62"`.
Does this library work with react-native 0.62?
If not, any tips on how to work on an update?

I'm asking because I'm having trouble making it work in an app with react-native 0.62.2 on iOS (on Android it works fine).

[2020-07-07 11:58] m4r00p commented on #69
I've workaround the issue by using path instead of uri given from react-native-image-picker as follow:

`
   ImagePicker.showImagePicker(options, (response) => {
      if (response.error) {
        Alert.alert(response.error)
      } else {
        ...
        const fileUri = Platform.OS === 'android' ? `file://${response.path}` : response.uri
        const thumbnailUri = await ImageEditor.cropIma

[2020-07-14 18:34] german970814 opened #71 "Crop on negative offsets creates black content"
# Question
When I try to crop an image with negative offsets, it does fill the "no content" image with black. It does any way to select which color fill? I'm trying to do a cropper like instagram does, and on small images it does crop the image with negative offset and fills this content with white color if "light" appearance is active or "dark" depending on case

[2020-07-15 14:16] rjtubera opened #72 "Cannot read Propery 'cropImage' of undefined"
# Cannot read Propery 'cropImage' of undefined

Hi anyone, can help me, I'm having an error. All of my data is present. I don't know why i'm getting this error

`import ImageEditor from "@react-native-community/image-editor";`

[code]

[code]

//result.uri has data
//cropData has data as well

Any ideas, thanks

[2020-07-21 05:40] thomas-coinjar opened #73 "Could not determine MIME TYPE on Android 10"
# Bug report

## Summary
Our bug report system reported a missing `MIME` type on a **Samsung Galaxy A31 SM-A315G** phone running **Android 10**. The exact error message is
[code]

## Environment info

`react-native info` output:

[code]

Library version: 2.3.0

## Steps to reproduce

1. Take picture using `react-native-camera`
2. Wait until we have a `uri` from the taken picture
3. Calculate the c

[2020-07-22 13:45] MarkJackson1997 opened #74 "Can we crop local images using Imageeditor?"
# Question

[2020-07-22 13:49] #74 closed

[2020-07-22 14:51] tommynordli commented on #73
I'm also seeing this issue, and having several users with the Samsung Galaxy A41 on Android 10 struggling with this.

[2020-08-04 14:39] piotrponikowski commented on #73
I am also facing this error - are there any plans to solve this one?

[2020-08-05 14:22] DevelopSmith commented on #68
@codifius did you find any solution for this issue?

[2020-08-05 18:23] ktjd123 opened #75 "Cache remote uri"
# Feature request

## Why it is needed

when calling multiple times with remote uri, it downloads multiple times.

it would be great if it only calls first time. and be synced with Image class from react-native

## Possible implementation

### Code sample

[2020-08-24 15:34] MariaPereiraMindera commented on #54
I have the same problem. How I solve that?

[2020-08-28 08:54] fengmiaorxiaobai commented on #72
i have the same problem.

[2020-09-01 11:21] yutasb commented on #72
I have the same problem, too.

[2020-09-01 12:29] rjtubera commented on #72
Hi guys any update? I temporarily removed this snippet to make my app work.

[2020-09-03 11:49] jakubgrzelak commented on #54
The same

[2020-09-07 13:32] mppperez commented on #35
Are there any news on this? We're getting the error as well but only on few devices. Can't reproduce this yet but we're using react-native-image-resizer as input for cropping as well. An issue were created there for an related topic too but this was already merged in January and we're running the newest version (just updated from 1.2.3 to 1.2.4 now).

Here the related PR: https://github.com/bamlab

[2020-09-15 15:32] MariaMindera commented on #54
I found a solution

`
export default function cropImage(imageURI, imageWidth, imageHeight, x, y) {
  let screenWidth = PixelRatio.getPixelSizeForLayoutSize(
    Dimensions.get('window').width,
  );
  let screenHeight = PixelRatio.getPixelSizeForLayoutSize(
    Dimensions.get('window').height,
  );

  let scaleFactor = imageHeight / screenHeight;

  x *= scaleFactor;
  y *= scaleFactor;
  screenWid

[2020-09-18 07:38] jordangrant commented on #37
For others that run into this. I really needed PNGs to maintain their transparency and this cropper was causing me to lose transparency.

https://github.com/react-native-community/react-native-image-editor/pull/44
I was getting nothing back for:
[code]
and the url of the
[code]
was rct-image-store://0
**So it always defaulted to JPG.**

I decided to force PNG.
I question if https://github.com/reac

[2020-10-07 13:09] MrKernelPanic-dev commented on #72
i have the same problem.

[2020-10-16 12:55] jenskuhrjorgensen opened #79 "Support react-native 0.63"
Hi

First of: Thanks for an awesome library!

Does this library support react-native 0.63? If so, could you please update the react-native peer dependecy in `package.json` to `">=0.57 =<0.63"`? :)

Best regards
Jens

[2020-10-19 07:09] jenskuhrjorgensen commented on #70
Hi @gustavoschmidt

According to [the release notes for 2.3.0](https://github.com/react-native-image-editor/react-native-image-editor/releases/tag/2.3.0) it should support react-native 0.62, but it has not been written correctly in the `package.json`. It should have been `">=0.57 =<0.62"` or `">=0.57 <0.63"`.

[2020-10-20 07:53] hufkens commented on #73
We also see these errors in our error loggings. Can we expect a fix any time soon?

[2020-10-22 03:59] naufalahnaf17 opened #80 "Can i get manual installation on both OS ?"
i think the documentation not completed yet , so can i get manual installation for both os without linking it ?

[2020-11-15 20:57] 3GOMESz commented on #54
https://github.com/barrsan/react-native-simple-image-cropper/issues/16

[2020-11-17 05:45] SenyangJiang commented on #72
Has anyone solved this yet? I have the same problem. It seems that cropImage calls RNCImageEditor.cropImage, and RNCImage is not defined.

[2020-11-17 06:48] SenyangJiang commented on #72
I solved this problem by directly using ImageEditingManager.cropImage in Native modules from react-native.
[code]
ImageEditingManager.cropImage takes four arguments: imageuri, cropData(same structure), resolve func, reject func

[2020-11-19 03:14] xuananpham93 commented on #73
Any suggestions?

[2020-11-27 09:10] sgarchavada commented on #62
Any solution yet

[2020-12-09 18:20] pospetur commented on #73
Hoping for a fix soon!

This is happening on the Redmi Note 8 as well, running Android 10.
(https://user-images.githubusercontent.com/2827275/101670290-e17d2c80-3a4a-11eb-9757-02e56ff94322.jpg)

[2020-12-13 23:48] blakito commented on #73
Also happening with several users using brand new Samsung Core A01, Android 10 (Go Edition)

[2020-12-15 14:36] davidwico commented on #73
Any update on this?

[2020-12-28 13:24] rajneshbiz commented on #54
Hi I want  only selected rectangular area to be cropped but with below code getting warning only

Or If I set dummy x and y then error gone but  **proper cropped image not getting**

I have implemented RNCamera then cropping the captured image

### Camera View.
![Screenshot_1609160761](https://user-images.githubusercontent.com/62133075/103216721-b6e10e00-493c-11eb-95e8-87fbf782c818.png)

### Code

[2021-01-05 15:01] karlotracs commented on #54
Is there any update on this? I have the same problem on android manily. If I multiply the coordinates and image size by the device scale I get to work on some devices, but still get wrong cropping in other ones.

`if (Platform.OS === 'android') {
          const xFactor = Dimensions.get('screen').scale;
          const yFactor = Dimensions.get('screen').scale;
          imageWidth = imageWidth * x

[2021-01-07 01:25] ARXII-13 commented on #62
I had the same issue when I was trying to upgrade my RN version and add this package. My solution was to follow their documentation and made a minor change in my code:

`  ImageEditor.cropImage(uri, cropData).then(url => {
    console.log("Cropped image uri", url);
  })`

[2021-01-08 15:16] blakito commented on #73
Bump. Any updates?

[2021-01-12 10:09] ChrisEelmaa commented on #73
Same error here, affecting A31 Android10

[2021-01-13 18:38] ChrisEelmaa commented on #73
I created a patch that fixes the issue, I am not sure why decodeRegion does not give out mime type, but it well could be an issue with the underlying vendor implementation, and am not sure if decodeRegion is guaranteed to fill outMimeType always.

If mime type is null, we fall back to the normal way of reading the mime type, so this patch is quite safe and will affect only people who have problems

[2021-01-14 03:00] blakito commented on #73
Excellent Erti!

On Wed, Jan 13, 2021 at 3:38 PM Erti-Chris Eelmaa <notifications@github.com>
wrote:

[2021-02-12 14:58] atlkuk commented on #73
@ChrisEelmaa Did you make a PR for the patch? It can be usefull

[2021-02-14 12:48] nes123 commented on #73
Any plans to marge @ChrisEelmaa suggestion? it seems to work well.

[2021-02-14 14:14] blakito commented on #73
Bump

On Sun, Feb 14, 2021, 09:48 nes123 <notifications@github.com> wrote:

[2021-02-23 08:33] cenaHara commented on #31
@Trancever  pls

[2021-06-29 02:00] ducanh261101a commented on #73
how can i install that patch? i don't know, can you guide me?

[2021-08-04 04:53] vemarav opened #92 "not working with react-native-image-crop-picker, pickedImage.path or pickedImage.sourceURL"

[2021-08-04 05:04] #92 closed

[2021-08-04 05:04] vemarav opened #93 "install error usning npm@7"
[code]

[2021-08-18 11:41] rubydeve commented on #54
handleLayoutChange(event) {
	    this.myComponent.measure( (fx, fy, width, height, px, py) => {
		    this.setState({
			captureBoxXAxis: px,
		        captureBoxYAxis: py,
		        captureBoxWidth: width,
		        captureBoxHeight: height,
	         });
	    })
    }
ImageEditor.cropImage(data.uri, {
     offset: {x: ((this.state.captureBoxXAxis)/Dimensions.get('window').width)*imageWidth, y:((

[2021-09-07 11:28] davesope commented on #93
trying to install truffle on vscode  and it says npm is the problenm of not be able to install cod used npm intsall truffle -g

[2021-09-17 07:54] MikePodgorniy commented on #73
@ducanh261101a you can try https://www.npmjs.com/package/patch-package

[2021-09-25 05:49] appdeveloperhw commented on #73
Thanks it is working

[2021-10-06 15:49] viacovne commented on #93
same issue

[2021-11-04 11:52] AndriiHnedko commented on #54
Before call ImageEditor.cropImage you need to prepare the target image. Use [react-native-image-resizer](https://github.com/bamlab/react-native-image-resizer) for just resize the image by a few pixels. As a result this will create a new image with the correct metadata.

[2021-12-14 05:33] smultar opened #101 "Please publish the latest build from Github, onto npm!"
The latest build on NPM fails to install and requires a legacy dependency to install.
![image](https://user-images.githubusercontent.com/6223536/145939060-a276e69c-cc13-4da5-ac9d-15f2df8268e9.png)

[2021-12-21 00:31] travis-frog commented on #101
Bump

[2021-12-26 06:31] kevgrig opened #102 "iOS compilation failures after Expo SDK 44/RN 0.64.3 upgrade"
## Environment

Expo SDK 44, React Native 0.64.3, XCode 13.2.1, macOS 12.1 Monterey

Worked fine in Expo SDK 43, React Native 0.64.3

## Description

XCode errors:

`/Users/test/testimageeditor/node_modules/@react-native-community/image-editor/ios/RNCImageEditor.m:65:35: Implicit declaration of function 'RCTTransformFromTargetRect' is invalid in C99
/Users/test/testimageeditor/node_modules/@react-

[2021-12-26 16:57] kevgrig commented on #102
This seems to be fixed with this patch:

[code]

[2022-01-16 12:25] ermankuruoglu commented on #54
@AndriiHnedko Thank you so much. I tried what you suggest and it worked! I think this issue is not related about device pixel ratio, size or something, it is related about image metadata. You guys if you try to create a new image with new metadata with  react-native-image-resizer library, you'll see this library is working like a charm.

[2022-03-10 03:04] shettychirag7 commented on #93
It seems the issue you are facing is specific to npm@7+'s requirement to provide the correct version of peer dependencies when installing the packages. Have you tried running
`
npm install --legacy-peer-deps
`
The --legacy-per-deps flag was introduced in npm@7+ as a way to install without peer dependencies check anyway. This is how it used to be from npm v4-v6.

[2022-03-11 15:42] 7dp opened #105 "Why i can't install this library?"
## Environment

`"react-native": "0.64.2"`

`node js: v16.9.1`

## Description

Failed to install this library.

![tg_image_288435651](https://user-images.githubusercontent.com/49138064/157899284-08cb3a39-7a7c-4efd-83b1-4aeb1bdf808b.jpeg)

## Reproducible Demo

Execute:  `npm install @react-native-community/image-editor --save` as mentioned on the docs

[2022-03-15 19:12] limouren commented on #54
For me, on certain platform (in my case android) and for certain images, the image width and height reported by `Image.onLoad` callback is different from the actual size of the image file. A work around is to read the actual image size using `Image.getSize` and use it to calculate the actual coordinates to crop.

[2022-03-16 01:01] 7dp commented on #105
@mppperez for now i install it using `--force`

[2022-03-24 04:20] firofame commented on #53
react-native-fs works perfectly but it would have been awesome if I didn't have to install this package for just this feature.

[2022-04-18 00:52] sidsoc12 commented on #105
I tried --force. The installation runs globally but I still get errors when running the program saying "unable to resolve module @react-native-community/image-editor"

[2022-05-09 12:24] malikhamza0546 opened #109 "I am trying to use Image editor library of react native but whenever I install this library I am unable to make my build to start my app locally can you help me ??"
![ImagePciker](https://user-images.githubusercontent.com/49604960/167409212-d42fba0f-f963-425c-92f3-4584c4929d41.PNG)
I am trying to use Image editor library of react native but whenever I install this library I am unable to make my build to start my app locally can you help me ??
https://www.npmjs.com/package/react-native-photo-editor
This is the package I am using

[2022-05-17 11:47] werpeladriano commented on #109
Try to add this line` tools:replace="android:allowBackup"` under `android:allowBackup="false"` in your AndroidManifest.xml

[2022-05-23 19:27] Hot-key commented on #68
Fix ImageEditorModule.java

[code]

then use [patch-package](https://www.npmjs.com/package/patch-package)

[code]

[2022-05-23 21:44] MarioUnlam opened #111 "Inconsistent handling of EXIF between Android and iOS"
## Environment

react: "17.0.2"
react-native: "0.66.3"
@react-native-community/image-editor: "^2.3.0",

## Description

I'm working on an app that has a camera (using react-native-camera). The camera library creates rotated photos that include EXIF data with the correct orientation. Opening these photos in any viewer displays them correctly. However, I noticed an inconsistent behavior when trying

[2022-06-13 13:56] joshke commented on #111
We ran into this same issue, thank you for your details. What library are you using to resize and remove EXIF Data? I don't think it's consistent on each platform, because our Samsung S22 (Android 12) shows this problem whereas a POCO M3 (Android 11) works with no issues. I tried to rotate the image in the Java Source using the given EXIF information, it worked, but whenever I needed to zoom in on

[2022-06-13 19:02] MarioUnlam commented on #111
@joshke Some people suggested using react-native-image-resizer to create a copy of the image, without the EXIF, but in my tests this pretty much doubled the processing time of the image, which is barely acceptable. If this behavior is not consistent on each platform, that's a big problem. There's no way to tell if the image will be cropped correctly, in both cases the exif data is the same, but th

[2022-06-13 22:24] MarioUnlam commented on #111
@joshke I ended up switching to expo-image-manipulator, which allows me to resize, crop, rotate and flip images in a single function call, and it seems to take into account the EXIF data, even in my old Android phone (which had problems with react-native-image-editor). If your project is react-native-cli, with a few steps you can turn it into a "bare expo" project, allowing you to use expo librari

[2022-06-14 07:23] nilrezaee88 opened #112 "run-ios fail"
hi my friends
run-ios failed and an error generated
please help me

The following build commands failed:
        CompileC /Users/a1/projects/ahub-photo/ios/DerivedData/ahub/Build/Intermediates.noindex/Pods.build/Debug-iphonesimulator/react-native-image-editor.build/Objects-normal/x86_64/RNCImageEditor.o /Users/a1/projects/ahub-photo/node_modules/@react-native-community/image-editor/ios/RNCImageEdi

[2022-06-15 08:44] joshke commented on #111
@MarioUnlam thanks for the information on the library and great that you have a working solution for your problem. We trying to avoid Expo since this creates some big dependencies and gave us some issues with the most recent react native version in the past. For anyone else having this problem, I think I found a solution:
Read the rotation of the image with react-native-image-size in react native:

[2022-07-09 12:35] Mkrtich13 commented on #102
same issue for me, after applying the patch i got this errors:

[code]

[2022-08-18 05:53] ajitdas123 opened #114 "Not compatible with react 18"
This package `package.json` need an upgrade to be compatible with react 18.0

[2022-08-29 05:10] nadishan opened #115 "Is this discontinued?"
Is this discontinued?

[2022-09-16 16:32] adamtsai1 commented on #72
Two years later, same problem

[2022-11-26 06:19] GwiYeong opened #116 "remove jcenter for android build.gradle"
jcenter is already deprecated
I can not build android because jcenter dependency exists in image-editor
please remove jcenter dependency

see below log
[code]